body{
    margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
#bradContainer
{
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 250px;
    border: 1px solid #666;
    position:relative;
    overflow:hidden;
    text-decoration: none;
    background:#33a749;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE8

          /* This works in IE 8 & 9 too */
          /* ... but also 5, 6, 7 */
          filter: alpha(opacity=0); // IE 5-7

          /* Modern Browsers */
          opacity: 0;
    
    #bradContent
    {
        cursor:pointer;
        .bradSwoosh{
            background-image: url(../img/swoosh.svg);
            width: 614px;
            height: 490px;
            position: absolute;
        }
        
        #bradSvg1Container{
            top: -220px;
            left: -190px;
        }
        #bradSvg2Container{
            //top: -200px;
        }
        
        .bradTOpacity
        {
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE8

          /* This works in IE 8 & 9 too */
          /* ... but also 5, 6, 7 */
          filter: alpha(opacity=0); // IE 5-7

          /* Modern Browsers */
          opacity: 0;
        }
        
        #bradT1{
              background-image: url(../img/t1.png);
            width:183px;
            height:111px;
            position: absolute;
            left:57px;
        }
        #bradT2{
              background-image: url(../img/t2.png);
            width:157px;
            height:70px;
            position: absolute;
           left:-20px;//
            top:52px;
        }
        #bradT3{
              background-image: url(../img/t3.png);
            width:67px;
            height:35px;
            position: absolute;
            top:-20px;
            left:8px;
        }
        #bradT4{
              background-image: url(../img/t4.png);
            width:183px;
            height:35px;
            position: absolute;
            top:123px;
            left:320px;
        }
        #bradT5{
              background-image: url(../img/t5.png);
            width:123px;
            height:30px;
            position: absolute;
            top:20px;
            left:133px;
        }
        #bradT6{
              background-image: url(../img/t6.png);
            width:144px;
            height:30px;
            position: absolute;
            top:270px;
            left:132px;
        }
        #bradT7{
              background-image: url(../img/t7.png);
            width:78px;
            height:26px;
            position: absolute;
            top:62px;
            left:-100px;
        }
        #bradT8{
              background-image: url(../img/t8.png);
            width:256px;
            height:23px;
            position: absolute;
            top:96px;
            left:-100px;
        }
        
        #bradT9{
              background-image: url(../img/t9.png);
            width:180px;
            height:14px;
            position: absolute;
            top:12px;
            left:12px;
        }
        #bradT10{
              background-image: url(../img/t10.png);
            width:195px;
            height:51px;
            position: absolute;
            top:32px;
            left:12px;
        }
        
        #bradKidney{
              background-image: url(../img/kidney_no_glow.png);
            width:182px;
            height:130px;
            position: absolute;
            top:63px;
            left:83px;
        }
        
        #bradKidneyFlare{
              background-image: url(../img/glow.png);
            width:300px;
            height:250px;
            position: absolute;
            top:-3px;
            left:0px;
        }
        
        #bradFlare{
              background-image: url(../img/flare.png);
            width:143px;
            height:98px;
            position: absolute;
            top:0px;
            left:180px;
        }
        
        #bradFooter{
            background:#fff;
            width:300px;
            height:47px;
            position:absolute;
            top:203px;
            #bradFooterImageContainer{
                background-image: url(../img/br_logo_300x250.png);
                position:absolute;
                top:12px;
                left:205px;
                width:80px;
                height:21px;
            }
            #bradFooterCTA{
                background:#fa7700;
                position:absolute;
                top:9px;
                left:12px;
                width:138px;
                height:30px;
                /*set clip property so that from() tween knows what the ending values should be */
                clip:rect(0px, 138px, 30px, 0px);

                
                #bradFooterCTAT{
                    background-image: url(../img/ctaTxt.png);
                    position: absolute;
                    top: 11px;
                    left:8px;
                    width: 122px;
                    height: 10px;
                }
            }
        }
    }
}

