html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

#bradContainer {
  font-family: sans-serif;
  position: relative;
  width: 300px;
  height: 250px;
  border: 1px solid #666;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background: #33a749;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=0);
  /* Modern Browsers */
  opacity: 0; }
  #bradContainer #bradContent .bradSwoosh {
    background-image: url(../img/swoosh.svg);
    width: 614px;
    height: 490px;
    position: absolute; }
  #bradContainer #bradContent #bradSvg1Container {
    top: -220px;
    left: -190px; }
  #bradContainer #bradContent .bradTOpacity {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=0);
    /* Modern Browsers */
    opacity: 0; }
  #bradContainer #bradContent #bradT1 {
    background-image: url(../img/t1.png);
    width: 183px;
    height: 111px;
    position: absolute;
    left: 60px;
    top: 46px; }
  #bradContainer #bradContent #bradT2 {
    background-image: url(../img/t2.png);
    width: 157px;
    height: 70px;
    position: absolute;
    left: -20px;
    top: 47px; }
  #bradContainer #bradContent #bradT3 {
    background-image: url(../img/t3.png);
    width: 67px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 8px; }
  #bradContainer #bradContent #bradT4 {
    background-image: url(../img/t4.png);
    width: 183px;
    height: 35px;
    position: absolute;
    top: 123px;
    left: 320px; }
  #bradContainer #bradContent #bradT5 {
    background-image: url(../img/t5.png);
    width: 123px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 134px; }
  #bradContainer #bradContent #bradT6 {
    background-image: url(../img/t6.png);
    width: 144px;
    height: 30px;
    position: absolute;
    top: 270px;
    left: 134px; }
  #bradContainer #bradContent #bradFooter {
    background: #fff;
    width: 300px;
    height: 47px;
    position: absolute;
    top: 203px; }
    #bradContainer #bradContent #bradFooter #bradFooterImageContainer {
      background-image: url(../img/br_logo_300x250.png);
      position: absolute;
      top: 12px;
      left: 205px;
      width: 80px;
      height: 21px; }

/**
--------------------------UI---------------------------
**/
button {
  padding: 10px;
  margin-top: 10px; }

button:nth-child(1) {
  margin-left: 10px; }

#slider {
  width: 300px;
  height: 10px;
  margin-top: 10px;
  background: rgba(80, 80, 80, 0.3);
  border: 1px solid rgba(102, 102, 102, 0.5); }
